.alldiv {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.round {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	margin-top: 20px;
	padding: 15px 30px;
	border-radius: 50%;
	background-color: black;
}

.round:hover {
	background-color: #ff5f00;
	border-color: #ff5f00;
}

.cross:hover {
	background-color: #e44d01;
}

.heading {
	font-size: x-large;
	background-color: black;
	height: 60px;
	color: white;
	border: solid black;
	transition: all 0.5s ease-in-out;
}

.heading:hover {
	color: #ff5f00;
}

.titleofheading:hover {
	color: #ff5f00;
}

.titleofheading {
	padding-left: 20px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
	float: left;
}

.topdiv {
	background-color: #f8f7f5;
	overflow-y: scroll;
}

.topdiv::-webkit-scrollbar {
	display: none;
}

.sendbox {
	background-color: rgb(241, 235, 235);
	padding: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 5px;
}

.inputfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	border: 1px solid black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
	width: 100%;
	height: 50px;
}

table tr td {
	border-collapse: true;
	padding: 0px;
	margin: 0px;
}

.mybtn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid black;
	border-left: none;
	background-color: black;
}

.mybtn:hover {
	background-color: #ff5f00;
}
