<div class="alldiv">
	<div class="mainwindow">
		<div *ngIf="!hide">
			<div 
				[ngStyle]="{
					'width': actwidth
				}" 
				(click)="changeWindowSize()" 
				class="heading">
				<span class="titleofheading"> Bot is online! </span>
			</div>
			<div 
				#mainchatscreen 
				[ngStyle]="{
					'height': actheight, 
					'width': actwidth, 
					'max-height': actheight, 
					'max-width': actwidth
				}"
				class="topdiv">
				<app-messagebox 
					*ngFor="let message of messages.messages" 
					[isbot]="message.isbot" 
					[body]="message.body">
				</app-messagebox>
				<app-button-replies 
					*ngIf="btnManagerService.hasButtons()" 
					style="bottom: 0;" 
					[btn]="btnManagerService.btn">
				</app-button-replies>
			</div>
			<div 
				[ngStyle]="{
					'width': actwidth, 
					'max-width': actwidth
				}" 
				class="sendbox">
				<table>
					<tr>
						<td width="{{actwidth}}"> 
							<input 
								type="text" 
								#inputfield 
								[(ngModel)]="textboxval" 
								(keydown.enter)="sendMessageInTextArea()" 
								(keyup.enter)="resetTextArea(); scrollDown();" 
								class="inputfield form-control" 
								placeholder="Ask me something"> 
						</td>
						<td> 
							<button 
								[style.height.px]="50" 
								class="btn btn-primary mybtn" 
								(click)="sendMessageInTextArea()"> 
								Send 
							</button> 
						</td> 
					</tr>
				</table>
			</div>
		</div>
	</div>
	<button *ngIf="!fullscreen" class="round" (click)="hideChat()"> {{btnsign}} </button>
</div>
	
