ul {
	display: flex;
	max-width: 400px;
	overflow-x: scroll;
	margin-left: 30px;
}

ul::-webkit-scrollbar {
	display: none;
}

ul li {
	display: inline;
}

.horizontallist {
	margin: 10px;
	width: 200px;
	height: 200px;
	max-height: 200px;
}

.horizontallist:hover {
	font-weight: bold;
}

.address {
	background-color: #ff5f00;
	border: 2px medium #ff5f00;
	overflow-y: unset;
}

