<ng-container *ngIf="isbot && body != null">
	<div *ngFor="let data of body" class="bot-container">
		<div *ngIf="isbot">
			<div *ngIf='data.hasOwnProperty("text") || data.hasOwnProperty("attachment")' class="container">
				<img class="botimage" [src]="botDisplayPicture">
				<div class="botmessage message">
						<p *ngIf='data.hasOwnProperty("text")'> {{data.text}} </p>
						<a *ngIf='data.hasOwnProperty("attachment")' target="_blank" href="{{data.attachment}}"> {{data.attachment}} </a>
				</div>
			</div>
		</div>
		<app-location-card *ngIf='data.hasOwnProperty("cards")' [cards]="data.cards"></app-location-card>
	</div>
</ng-container>
<ng-container *ngIf="isbot && body == null">
	<div class="bot-container">
		<div>
			<div class="container">
				<img class="botimage" [src]="botDisplayPicture">
				<div class="botmessage message">
					<div class="smalldot"></div>
					<div class="smalldot"></div>
					<div class="smalldot"></div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<div class="user-container">
	<div *ngIf="!isbot" class="usermessage message">
		<p> {{body}} </p>
	</div>
</div>
