<div *ngFor="let data of body" class="bot-container">
	<div *ngIf="isbot">
		<div class="container">
			<img class="botimage" [src]="botDisplayPicture">
			<div class="botmessage message">
					<p *ngIf='data.hasOwnProperty("text")'> {{data.text}} </p>
					<a *ngIf='data.hasOwnProperty("attachment")' target="_blank" href="{{data.attachment}}"> {{data.attachment}} </a>
			</div>
		</div>
	</div>
</div>
<div class="user-container">
	<div *ngIf="!isbot" class="usermessage message">
		<p> {{body}} </p>
	</div>
</div>