/* all messages */
.message {
	font-weight: 500;
	font-size: large;
	font-family: sans-serif;
	border: 2px solid black;
	padding: 0px;
	margin: 4px;
}

/* message received from bot */
.botmessage {
	background-color: rgb(243, 95, 95);	
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: left;
}

/* message sent by user */
.usermessage {
	background-color: #f8bc17;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: right;
}

.botmessage:hover {
	background-color: #dd0505;
}

.usermessage:hover {
	background-color: rgb(245, 150, 7);
}

.botmessage img {
	float: left;
	max-width: 60px;
	margin-right: 20px;
	border-radius: 50%;
}

.usermessage img {
	float: right;
	max-width: 60px;
	margin-left: 20px;
	border-radius: 50px;
}
