/* all messages */
.message {
	border: 2px solid black;
	padding: 5px;
	margin: 4px;
}

/* message received from bot */
.botmessage {
	background-color: lightblue;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: left;
}

/* message sent by user */
.usermessage {
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: right;
}

.botmessage:hover {
	background-color: #c6f7f7;
}

.usermessage:hover {
	background-color: #e1e1e3;
}

.botmessage img {
	float: left;
	max-width: 60px;
	margin-right: 20px;
	border-radius: 50%;
}

.usermessage img {
	float: right;
	max-width: 60px;
	margin-left: 20px;
	border-radius: 50px;
}
