/* all messages */
.message {
	font-weight: 500;
	font-family: sans-serif;
	margin: 5px;
	padding: 5px;
	transition: all 0.5s ease-in-out;
	word-wrap: break-word;
	overflow-x: auto;
}

/* message received from bot */
.botmessage {
	background-color: #d6d3ce;	
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: left;
	column-span: all;
}

/* message sent by user */
.usermessage {
	background-color: #ff5f00;
	color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-right: 20px;
}

.botimage {
	float: left;
	max-height: 40px;
	margin-right: 5px;
	margin-top: 3px;
	border-radius: 50%;
	border: 1px solid black;
}

a {
	color: darkblue;
}

p {
	margin: inherit;
}

.user-container {
	display: flex;
	justify-content: flex-end;
}

.bot-container {
	display: flex;
	justify-content: flex-start;
}

.container {
	padding-left: 8px;
}

.smalldot {
	display: inline-block;
	background-color: darkslategrey;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	margin: 7px 3px;
}

.smalldot:nth-of-type(1) {
	margin-left: 5px;
}

.smalldot:nth-of-type(3) {
	margin-right: 5px;
}


