ul {
	overflow-x: scroll;
	margin-left: 20px;
	margin-top: 10px;
}

ul::-webkit-scrollbar {
	display: none;
}

.horizontallist {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-info {
	background-color: transparent;
	border-color: #ff5f00;
	color: #ff5f00;
	border-width: medium;
}

.btn-info:hover {
	background-color: #ff5f00;
	color: white;
}
